.dropdown {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
  gap: 20px;
  border-radius: 0.5rem;
  width: 150px;
  margin-right: 0.5rem;
}

.dropdown-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.dropdown-body {
  padding: 5px;
  border: 1px solid #b0b3b9;
  display: none;
  overflow-y: auto;
  max-height: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  position: absolute;

  @media (max-width: 960px) {
    position: relative;
  }
}

.dropdown-body.open {
  display: block;

  @media (max-width: 960px) {
    margin-bottom: 40%;
  }
}

.dropdown-item-multichain {
  padding: 10px;
  display: flex;
  align-items: center;
}

.dropdown-item-multichain:hover {
  cursor: pointer;
  background-color: #ff8e4c;
  color: white;
  vertical-align: middle;
  border-radius: 0.5rem;
}
