@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./tailwind.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  transition: all 0.1s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.container-appBody {
  display: block;
}

@media (max-width: 1024px) {
  .container-appBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
  }
}

.borderBottom {
  border-bottom: solid 1px black;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

:root {
  --pink-900: hsl(18, 11%, 55%);
  --pink-100: hsl(22, 24%, 93%);

  --blue-900: hsl(220, 26%, 14%);
  --orang-500: hsl(22, 100%, 65%);
  --grenn-500: hsl(104, 48%, 48%);
  --gray-100: hsl(0, 1%, 68%);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.fic {
  display: flex;
  align-items: center;
}

.custom-shadow {
  box-shadow: 0px 3px 0 1px #ffaf7a;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
